mixin hello(name)
  p Hello #{name}!

mixin div
  div&attributes(attributes)
    if block
      block

mixin bar
  ul(class='bar')&attributes(attributes)
    li(class=['bar-item', 'bg-fav-orange-light'])
    li(class=['bar-item', 'bg-fav-orange-middle'])
    li(class=['bar-item', 'bg-fav-orange-dark'])
    li(class=['bar-item', 'bg-fav-pink-shock'])
    li(class=['bar-item', 'bg-fav-purple-light'])
    li(class=['bar-item', 'bg-fav-purple-middle'])
    li(class=['bar-item', 'bg-fav-purple-dark'])
    li(class=['bar-item', 'bg-fav-green-light'])
    li(class=['bar-item', 'bg-fav-green-dark'])
    li(class=['bar-item', 'bg-fav-occre-light'])

mixin section(heading, img)
  section&attributes(attributes)
    .row
        div(class=['small-12', 'columns'])
          if img
            img(class='image-section' src=img style='border-radius: 50%')
          h3(class=['heading-three']) #{heading}
          if block
            block

mixin cueImg(heading, img)
  div&attributes(attributes)
    .row
      if img
        div(class=['small-12', 'medium-2', 'columns', 'align-center'])
          img(class="image-ntk" src=img style="border-radius: 50%")
        div(class=['small-12', 'medium-10', 'columns'])
          h3(class=['heading-three']) #{heading}
          if block
            block
      else
        div(class=['small-12', 'columns'])
          h3(class=['heading-three']) #{heading}
          if block
            block

mixin cueIcon(heading, icon)
  div&attributes(attributes)
    .row
      if icon
        div(class=['small-12', 'medium-2', 'columns', 'align-center'])
          i(class=['icon', 'icon-4x', 'icon-fa-' + icon])
        div(class=['small-12', 'medium-10', 'columns'])
          h3(class=['heading-three']) #{heading}
          if block
            block
      else
        div(class=['small-12', 'columns'])
          h3(class=['heading-three']) #{heading}
          if block
            block

mixin year
  - var today = new Date();
  - var currentYear = today.getFullYear();
  span.year #{currentYear}
