- var links = [{ repo_gitlogg: "https://github.com/dreamyguy/gitlogg" }];

- var link = links[0];

section(class=["about"])
  div(class=["content", "text-shadow-light"])
    .row
        div(class=["small-12", "columns", "align-center"])
          div(class=["section-image", "centered"])
          h1(class=["heading-one", "open-sans-bold", "fg-fav-occre-dark", "gutter-top-half", "no-margin-bottom"]) #{name}
          h3(class=["heading-three", "fg-sb-gray"]) #{role}
          p.gutter-bottom-half
            | #[a(href="#{repo}" class="link-to-source-code") Gitinsight] was built to visualise #[span(class="monospace") git log] data<br/>
            | previously parsed to #[span(class="monospace") JSON] by #[a(href=link.repo_gitlogg) Gitlogg], which is another project of mine.<br/>
            | I hope you'll find it enlightening!
          p
            | #[a(href="#{repo}" class="link-to-source-code") Try it with your on data by forking or cloning Gitinsight on GitHub].
